.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
  .dropdown-button {
    padding: 15px;
    border: 3px solid $white;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: $lambda-light-red;
    }
  }
  .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 1px;
    border: 2.5px solid $lambda-red;
    transition: max-height 0.5s ease-in 0s;
    max-height: 170px;
    overflow: hidden;
  }
  .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: $lambda-red;
    &:hover {
      color: $white;
      background-color: $lambda-red;
    }
  }
  .dropdown-hidden {
    max-height: 0px;
    transition: max-height 0.5s ease-out 0s;
  }
}





